{% extends 'main_shared.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
 {% include 'snippets/title_text.html' %} Second Level Sation
{% endblock %}
{% block content %}

   <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a href="{% url 'accounts:redirect_logged' %}">Home</a>
        </li>
        <li class="breadcrumb-item"> Second Level Sations</li>
        <li class="breadcrumb-item active">
          {% include 'snippets/title_text.html' %} Second Level Sation
        </li>
    </ol>
  </nav>

   
<div class="card mb-4">
   {% if type == 'create' %}
   <form class="card-body"  action="{% url 'stations:create_second_level_station' %}" method="POST">
      {% else %}
   <form class="card-body"  action="{% url 'stations:edit_second_level_station' obj.id  %}" method="POST">
   {% endif %}

      {% csrf_token %} 
     <div class="row g-3">
        <div class="col-md-6">
            {{form.first_level_station|as_crispy_field}}
          </div>
       <div class="col-md-6">
         {{form.title|as_crispy_field}}
       </div>
     </div>
     <div class="pt-4">
       <button type="submit" class="btn btn-primary me-sm-3 me-1">
        {% include 'snippets/title_text.html' %} Second Level Sation
       </button>
       <a href="{% url 'stations:second_level_stations' %}" class="btn btn-label-secondary">Cancel</a>
     </div>
   </form>
 </div>

{% endblock %}
