{% extends 'main_shared.html' %}
{% load static %}
{% block title %}{{obj.title|title}}{% endblock %}
{% block content %}
<h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / Stations / </span> {{obj.title|title}}  </h5>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body mb-3">
                {% for candidate_instruction in  obj.candidate_station.all %}
                <div class="mb-4">
                    <h5 class="card-title"><a href="#">{{candidate_instruction.heading|title}}</a></h5>
                    <p class="card-text">{{candidate_instruction.text|title}}</p>
                </div>
                {% endfor %}
        
            </div>
    
        </div>

    </div>
    <div class="col-md-4">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body mb-3">
                   Timer
            
                </div>
        
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body mb-3">
                    <p>
                        <a href="#" class="font-20">Patient Instruction</a>
                    </p>
                    <p>
                        <a href="#" class="font-20">Station Approach</a>
                    </p>               
                    <p>
                    <a href="#" class="font-20">Examination</a>
                   </p>
            
                </div>
        
            </div>
        </div>

    </div>

</div>


{% endblock %}