{% extends 'main_shared.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{% include 'snippets/title_text.html' %} Subscription Product
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a href="{% url 'accounts:redirect_logged' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Subscriptions</li>    
        <li class="breadcrumb-item active"> 
            {% include 'snippets/title_text.html' %} Subscription Product {% if type == 'edit' %} {{obj.title|title}} {% endif %}
        </li>      
    </ol>
  </nav>

<div class="card mb-4">
    {% if type == 'create' %}
    <form class="card-body" action="{% url 'subscriptions:create_subscription_product' %}" method="POST"> 
        {% else %}
        <form class="card-body" action="{% url 'subscriptions:edit_subscription_product' obj.id %}" method="POST">
            {% endif %}

            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-4">
                    {{form.title|as_crispy_field}}

                </div>
                <div class="col-md-4">
                    {{form.price|as_crispy_field}}
                </div>
                <div class="row g-3">
                    <div class="col-md-4">
                        {{form.duration_period|as_crispy_field}}

                    </div> 
                    <div class="col-md-4">
                        {{form.interval|as_crispy_field}}

                    </div>
               
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        {{form.is_active|as_crispy_field}}

                    </div>
                </div>
                <div class="pt-4">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">
                        {% include 'snippets/title_text.html' %} Subscription Product
                    </button>
                    <a href="{% url 'subscriptions:subscription_products' %}" class="btn btn-label-secondary">Cancel</a>
                </div>
        </form>
</div>

{% endblock %}