{% extends 'main_shared.html' %}
{% load static %}
{% block title %}
Subscriptions Products
{% endblock %}
{% block content %}
<h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / Subscriptions / </span>
  Subscriptions Products
</h5>

<div class="card-header flex-column flex-md-row mb-4">
  {% if messages %}
  {% for message in messages %}

  <div class="alert alert-{{ message.tags }} alert-dismissible mt-3" role="alert">
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <div class="dt-action-buttons pt-3 pt-md-0">
    <div class="dt-buttons btn-group flex-wrap">
      <div class="btn-group">

      </div>
      <a class="btn btn-secondary create-new btn-primary" href="{% url 'subscriptions:create_subscription_product' %}">
        <span>
          <i class="bx bx-plus me-sm-1"></i>
          <span class="d-none d-sm-inline-block">Add Subscription Product</span>
        </span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  {% for item in items %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <span class="badge bg-label-primary">{{item.title|title}}</span>
          <div class="d-flex justify-content-center">
            <sup class="h5 pricing-currency mt-3 mb-0 me-1 text-primary">{{item.currency|upper}}</sup>
            <h1 class="display-5 mb-0 text-primary">{{item.price|floatformat:2}}</h1>

          </div>

        </div>
        <ul class="ps-3 g-2 my-4">
          <li class="mb-2">
            {% if item.duration_period == 1 %}
            {{item.duration_period}} Month
            {% else %}
            {{item.duration_period}} {{item.interval}} 
            {% endif %}
            access to all stations.
          </li>
          <li class="mb-2">{{item.duration_period}} {{item.interval}} access to Masterclass videos.</li>
          <li>Support</li>
        </ul>
        
        <div class="d-grid w-100 mt-4 pt-2">
          <a class="btn btn-primary" href="{% url 'subscriptions:subscribe' item.id %}">
            Subscribe to {{item.title|title}}
          </a>
          <a class="btn btn-warning mt-2" href="{% url 'subscriptions:edit_subscription_product' item.id %}">
           Edit Product
          </a>
        </div>
      </div>
    </div>

  </div>
  {% endfor %}
</div>


{% endblock %}