{% extends 'main_shared.html' %}
{% load static %}
{% block title %}{{obj.title|title}}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a href="{% url 'accounts:redirect_logged' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Stations</li>
        <li class="breadcrumb-item active">{{obj.title|title}}</li>        
    </ol>
  </nav>

<div class="row">
    {% for item in items %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body pb-0">
                <h3 class="card-title  mb-4 text-center">
                   <a href="{% url 'stations:stations_menu_view' item.id item.title %}" class="font-20">{{item.title|title}} </a>
                </h3>
            </div>

        </div>
    </div>
    {% endfor %}

    {% if items %}
    {% include 'snippets/pagination.html' with items=items %}
    {% endif %}
  
</div>


{% endblock %}