{% extends 'main_shared.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
 {% include 'snippets/title_text.html' %} Second Level Sation
{% endblock %}
{% block content %}
<h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / Second Level Sations /</span>
    {% include 'snippets/title_text.html' %} Second Level Sation
   </h5>
<div class="card mb-4">
   {% if type == 'create' %}
   <form class="card-body"  action="{% url 'stations:create_second_level_station' %}" method="POST">
      {% else %}
   <form class="card-body"  action="{% url 'stations:edit_second_level_station' obj.id  %}" method="POST">
   {% endif %}

      {% csrf_token %} 
     <div class="row g-3">
        <div class="col-md-6">
            {{form.first_level_station|as_crispy_field}}
          </div>
       <div class="col-md-6">
         {{form.title|as_crispy_field}}
       </div>
     </div>
     <div class="pt-4">
       <button type="submit" class="btn btn-primary me-sm-3 me-1">
        {% include 'snippets/title_text.html' %} Second Level Sation
       </button>
       <a href="{% url 'stations:second_level_stations' %}" class="btn btn-label-secondary">Cancel</a>
     </div>
   </form>
 </div>

{% endblock %}
