{% extends 'main_shared.html' %}
{% load static %}
{% load static %}
{% block title %}Station Categories{% endblock %}
{% block content %}
<h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home /</span> Station Categories</h5>
<div class="card-header flex-column flex-md-row mb-3">
     
    <div class="dt-action-buttons pt-3 pt-md-0">
        <div class="dt-buttons btn-group flex-wrap"> 
            <div class="btn-group">
         
            </div> 
            <a class="btn btn-secondary create-new btn-primary" href="{% url 'stations:create_category_station' %}">
                <span>
                    <i class="bx bx-plus me-sm-1"></i> 
                    <span class="d-none d-sm-inline-block">Add Station Category</span>
                </span>
            </a> 
        </div>
    </div>

{% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible mt-3" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

</div>
  <div class="card">

  
    <div class="table-responsive">
      <table class="table border-top table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Station Category</th> 
            <th>Station</th> 
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        
        <tbody>
          {% for station_cat in station_categories %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{station_cat.title|title}}</td>
            <td>{{station_cat.station.title|title}}</td>
            <td>{{station_cat.timestamp}}</td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'stations:edit_category_station' station_cat.id %}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                  <a class="dropdown-item" href="{% url 'stations:delete_category_station' station_cat.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>

          </tr>
          {% empty %}
          <tr>
            <td>No data</td>
          </tr>
          {% endfor %}
        </tbody>
      
      </table>
    </div>
  {% if station_categories %}
  {% include 'snippets/pagination.html' with items=station_categories %}
  {% endif %}
  </div>


{% endblock %}

