{% extends 'main_shared.html' %}
{% load static %}
{% block title %}Station Creator{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / Stations / </span> Station Creator</h5>
<div class="row">
  <div class="col-12">
    <form action="{% url 'stations:station_creator' %}" method="POST">
      {% csrf_token %}
      <div class="card">
        <div id="sticky-wrapper" class="sticky-wrapper" style="height: 86.472px;">
          <div
            class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row"
            style="width: 1146.46px;">
            <h5 class="card-title mb-sm-0 me-2">Station Creator</h5>
            <div class="action-btns">
              <a class="btn btn-label-primary me-3" href="{% url 'stations:stations' %}">
                <span class="align-middle"> Back</span>
              </a>
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <h5 class="mb-4">1. Station Details</h5>
            <!-- 1. Station Details  -->
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="station" class="form-label">Stations*</label>
                  <select class="form-select" id="station" aria-label="Default select example" required>
                    {% for station in stations %}
                    <option value="{{station.id}}">{{station.title|title}}</option>
                    {% empty %}
                    <option>No Stations Available</option>
                    {% endfor %}
                 
                  </select>
                </div>
                
             
              </div>
            </div>


            <hr class="mb-3 mt-4">
            <!-- 2. Candidate Instructions -->
            <h5 class="mb-4">2. Candidate Instructions</h5>

            {% for choice in candidate_instruction_inquiry_choices %}
            <div class="form-group row mb-4">
              <div class="col-md-4 mb-4">
                <input type="text" value="{{choice.value}}" name="candidate_instruction_heading"
                  class="textinput form-control" required readonly />
              </div>
              <div class="col-md-8 mb-4">
                <textarea class="form-control editor" name="candidate_instruction_text" rows="1"></textarea>
              </div>
            </div>
            {% endfor %}

            <hr class="mb-3 mt-4">
            <!-- 3. Patient Instructions -->
            <h5 class="mb-4">3. Patient Instructions</h5>

            {% for choice in patient_instruction_disclosure_choices %}
            <div class="form-group row mb-4">
              <div class="col-md-4 mb-4">
                <input type="text" value="{{choice.value}}" name="patient_instruction_heading"
                  class="textinput form-control" required readonly />
              </div>
              <div class="col-md-8 mb-4">
                <textarea class="form-control editor" name="patient_instruction_text" rows="1"></textarea>
              </div>
            </div>
            {% endfor %}

            <hr class="mb-3 mt-4">
            <!-- 3. Examiner Mark Sheet -->
            <h5 class="mb-4">4. Examiner Mark Sheet</h5>
            <h6 class="mb-4"><strong>DATA GATHERING</strong></h6>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>

                    <input type="button" value="Add Line" id="newrows_data_gathering" class="btn btn-success"
                      style="margin-right: 1em;">
                    <input type="button" value="Remove Selected Line" id="delnewrows_data_gathering"
                      class="btn btn-danger">

                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="data_gathering_table">
                  <tr>
                    <td style="padding: 1em 0;" class="mb-3">
                      <label for="data_gathering_text" class="form-label requiredField"> Text<span
                          class="asteriskField">*</span></label>
                      <input type="text" name="data_gathering_text" maxlength="255" class="textinput form-control"
                        required id="data_gathering_text">
                    </td>
                    <td style="padding: 1em;"><input type='checkbox' class='form-control form-check-input'
                        name='checkbx' disabled></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6 class="mb-4"><strong>MANAGEMENT</strong></h6>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>

                    <input type="button" value="Add Line" id="newrows_management" class="btn btn-success"
                      style="margin-right: 1em;">
                    <input type="button" value="Remove Selected Line" id="delnewrows_management" class="btn btn-danger">

                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="management_table">
                  <tr>
                    <td style="padding: 1em 0;" class="mb-3">
                      <label for="data_gathering_text" class="form-label requiredField"> Text<span
                          class="asteriskField">*</span></label>
                      <input type="text" name="management_text" maxlength="255" class="textinput form-control" required
                        id="management_text">
                    </td>
                    <td style="padding: 1em;"><input type='checkbox' class='form-control form-check-input'
                        name='checkbx' disabled></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6 class="mb-4"><strong>INTERPERSONAL SKILLS</strong></h6>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>

                    <input type="button" value="Add Line" id="newrows_interpersonal_skills" class="btn btn-success"
                      style="margin-right: 1em;">
                    <input type="button" value="Remove Selected Line" id="delnewrows_interpersonal_skills"
                      class="btn btn-danger">

                  </tr>
                </thead>
                <tbody class="table-border-bottom-0" id="interpersonal_skills_table">
                  <tr>
                    <td style="padding: 1em 0;" class="mb-3">
                      <label for="interpersonal_skills_text" class="form-label requiredField"> Text<span
                          class="asteriskField">*</span></label>
                      <input type="text" name="interpersonal_skills_text" maxlength="255" class="textinput form-control"
                        required id="interpersonal_skills_text">
                    </td>
                    <td style="padding: 1em;"><input type='checkbox' class='form-control form-check-input'
                        name='checkbx' disabled></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- 4. station Approach -->
            <h5 class="mb-4">5. Station Approach</h5>
            <div class="row">
              <div class="col-md-12">
                <div class="mb-4">
                  <label for="learning_points" class="form-label">Learning Points</label>
                  <textarea class="form-control editor" name="station_approach_learning_points" id="learning_points"
                    rows="3"></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <h6 class="mb-4"><strong>LINKS</strong></h6>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>

                        <input type="button" value="Add Line" id="newrows_station_approach_link" class="btn btn-success"
                          style="margin-right: 1em;">
                        <input type="button" value="Remove Selected Line" id="delnewrows_station_approach_link"
                          class="btn btn-danger">

                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0" id="station_approach_link_table">
                      <tr>
                        <td style="padding: 1em 0;" class="mb-3">
                          <label for="station_approach_link" class="form-label requiredField"> Link<span
                              class="asteriskField">*</span></label>
                          <input type="text" name="station_approach_link" maxlength="255" class="textinput form-control"
                            required id="station_approach_link">
                        </td>
                        <td style="padding: 1em;"><input type='checkbox' class='form-control form-check-input'
                            name='checkbx' disabled></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>

{% endblock %}
{% block js %}


<script src="{% static '/assets/vendor/libs/jquery-sticky/jquery-sticky.js' %}"></script>
<script src="{% static '/assets/js/form-layouts.js' %}"></script>
<script>
  $(document).ready(function () {
    $("#newrows_data_gathering").click(function () {
      var addcontrols = "<tr id='data_gathering_row'>"
      addcontrols += '<td style="padding: 1em 0;" class="mb-3"><label for="data_gathering_text" class="form-label requiredField"> Text<span class="asteriskField">*</span></label> <input type="text" name="data_gathering_text" maxlength="255" class="textinput form-control" required id="data_gathering_text"></td>'
      addcontrols += "<td><input type='checkbox' class='form-control form-check-input' name='checkbx'></td>"
      addcontrols += "</tr>";
      $("#data_gathering_table").append(addcontrols);
    });
    $("#delnewrows_data_gathering").click(function () {
      $("#data_gathering_table").find('input[name="checkbx"]').each(function () {
        if ($(this).is(":checked")) {
          $(this).parents("#data_gathering_row").remove();
        }
      });
    });

    $("#newrows_management").click(function () {
      var addcontrols = "<tr id='management_row'>"
      addcontrols += '<td style="padding: 1em 0;" class="mb-3"><label for="management_text" class="form-label requiredField"> Text<span class="asteriskField">*</span></label> <input type="text" name="management_text" maxlength="255" class="textinput form-control" required id="management_text"></td>'
      addcontrols += "<td><input type='checkbox' class='form-control form-check-input' name='checkbx'></td>"
      addcontrols += "</tr>";
      $("#management_table").append(addcontrols);
    });
    $("#delnewrows_management").click(function () {
      $("#management_table").find('input[name="checkbx"]').each(function () {
        if ($(this).is(":checked")) {
          $(this).parents("#management_row").remove();
        }
      });
    });

    $("#newrows_interpersonal_skills").click(function () {
      var addcontrols = "<tr id='interpersonal_skills_row'>"
      addcontrols += '<td style="padding: 1em 0;" class="mb-3"><label for="interpersonal_skills_text" class="form-label requiredField"> Text<span class="asteriskField">*</span></label> <input type="text" name="interpersonal_skills_text" maxlength="255" class="textinput form-control" required id="interpersonal_skills_text"></td>'
      addcontrols += "<td><input type='checkbox' class='form-control form-check-input' name='checkbx'></td>"
      addcontrols += "</tr>";
      $("#interpersonal_skills_table").append(addcontrols);
    });
    $("#delnewrows_interpersonal_skills").click(function () {
      $("#interpersonal_skills_table").find('input[name="checkbx"]').each(function () {
        if ($(this).is(":checked")) {
          $(this).parents("#interpersonal_skills_row").remove();
        }
      });
    });

    $("#newrows_station_approach_link").click(function () {
      var addcontrols = "<tr id='station_approach_link_row'>"
      addcontrols += '<td style="padding: 1em 0;" class="mb-3"><label for="station_approach_link" class="form-label requiredField"> LINK <span class="asteriskField">*</span></label> <input type="text" name="station_approach_link" maxlength="255" class="textinput form-control" required id="station_approach_link"></td>'
      addcontrols += "<td><input type='checkbox' class='form-control form-check-input' name='checkbx'></td>"
      addcontrols += "</tr>";
      $("#station_approach_link_table").append(addcontrols);
    });
    $("#delnewrows_station_approach_link").click(function () {
      $("#station_approach_link_table").find('input[name="checkbx"]').each(function () {
        if ($(this).is(":checked")) {
          $(this).parents("#station_approach_link_row").remove();
        }
      });
    });
    
    var textareas = document.querySelectorAll('.editor');

    tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });



  });

</script>


{% endblock %}