{% extends 'main_shared.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Study Buddy{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-style1">
        <li class="breadcrumb-item">
            <a href="{% url 'accounts:redirect_logged' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</nav>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    </button>
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% if quick_meetings %}
  {% for qm in quick_meetings %}
    <div class="alert alert-success alert-dismissible mb-1" role="alert">    
      Quick meeting request from <a href="{% url 'accounts:public_profile' qm.requester.id %}">{{qm.requester.get_full_name|title}}</a> on {{qm.availability.start_time}} from ( {{qm.availability.end_time}}) <a href="{% url 'meeting_calendar:accept_a_quick_meeting' qm.id %}">Accept Quick Meeting</a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}



<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-info">
                <p class="card-text">Accepted Meetings</p>
                <div class="d-flex align-items-end mb-2">
                  <h4 class="card-title mb-0 me-2">{{accepted_count}}/{{total_meetimgs}}</h4>
                </div>
               
              </div>
              <div class="card-icon">
                <span class="badge bg-label-success rounded p-2">
                  <i class="bx bx-briefcase-alt bx-sm"></i>
                 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-info">
                <p class="card-text">Cancelled Meetings</p>
                <div class="d-flex align-items-end mb-2">
                  <h4 class="card-title mb-0 me-2">{{cancelled_count}}/{{total_meetimgs}}</h4>
                </div>
               
              </div>
              <div class="card-icon">
                <span class="badge bg-label-warning rounded p-2">
                  <i class="bx bx-briefcase-alt bx-sm"></i>
                 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-info">
                <p class="card-text">Rejected Meetings</p>
                <div class="d-flex align-items-end mb-2">
                  <h4 class="card-title mb-0 me-2">{{rejected_count}}/{{total_meetimgs}}</h4>
                </div>
               
              </div>
              <div class="card-icon">
                <span class="badge bg-label-danger rounded p-2">
                  <i class="bx bx-briefcase-alt bx-sm"></i>
                 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="card-info">
                <p class="card-text">Checked-in & Out</p>
                <div class="d-flex align-items-end mb-2">
                  <h4 class="card-title mb-0 me-2">{{check_in_and_out_count}}</h4>
                </div>
               
              </div>
              <div class="card-icon">
                <span class="badge bg-label-primary rounded p-2">
                  <i class="bx bx-briefcase-alt bx-sm"></i>
                 
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="card p-3">
  <form action="{% url 'meeting_calendar:create_a_quick_meeting' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-3">
        <div class="mb-3">
          {{ form.date|as_crispy_field }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          {{ form.start_time|as_crispy_field }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="mb-3">
          {{ form.end_time|as_crispy_field }}
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column"
        style="margin-top: auto !important; margin-bottom: 1.1em !important;">
        <button type="submit" class="btn btn-primary">
          Create Quick Meeting
        </button>
      </div>
    </div>
  </form>
  <hr>
    <div class="table-responsive text-nowrap">
        <table class="table" id="users">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Requester</th>
                    <th>Requested</th>
                    <th>Booked Slot</th>
                    <th>Booked Date</th>
                    <th>Booking Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                      {% if item.requester.id == user.id %}
                        Yourself
                        {% else %}
                        {{item.requester.get_full_name|title}}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.requested.id == user.id %}
                        Yourself
                        {% else %}
                        {{item.requested.get_full_name|title|default:"-"}}
                     
                        {% endif %}
                    </td>
                    <td>{{item.availability.day}} ({{item.availability.start_time}} - {{item.availability.end_time}})
                    </td>
                    <td>
                        {% if item.booking_date >= current_date %}
                        <span class="badge bg-success">
                            {{item.booking_date}}
                        </span>
                        {% else %}
                        <span class="badge bg-danger">
                            {{item.booking_date}}
                        </span>
                        
                        {% endif %}
                    </td>
                    <td>
                        {% if item.accepted %}
                        <span class="badge bg-success">
                           Accepted
                        </span>
                        {% elif item.rejected %}
                        <span class="badge bg-danger">
                            Rejected
                        </span>
                        {% elif item.cancelled %}
                        <span class="badge bg-danger">
                            Cancelled
                        </span>
                        {% else %}
                        <span class="badge bg-primary">
                            
                            Not Actioned
                        </span>
                        {% endif %}

                    </td>
                    <td>
                        <a href="{% url 'meeting_calendar:meeting_detail' item.id %}"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                    </td>

                </tr>
                {% empty %}
                <tr>
                  <td>
                    No meetings
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% if items %}
{% include 'snippets/pagination.html' with items=items %}
{% endif %}

{% endblock %}