{% extends 'main_shared.html' %}
{% load static %}
{% block title %}Availability{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style1">
    <li class="breadcrumb-item">
      <a href="{% url 'accounts:redirect_logged' %}">Home</a>
    </li>
    {% if not request.user == user %}
      <li class="breadcrumb-item">
        <a href="{% url 'meeting_calendar:book_a_meeting' user.id %}">Book a Meeting</a>
      </li>
    {% endif%}
   
    <li class="breadcrumb-item active">
      {% if request.user == user %}
      My Availability
      {% else %}
      {{user.get_full_name|title}} availability
      {% endif%}
    </li>

  </ol>
</nav>

{% if request.user == user %}
<div class="dt-buttons btn-group flex-wrap mb-4">
    <div class="btn-group">

    </div>
    <a class="btn btn-secondary create-new btn-primary" href="{% url 'meeting_calendar:create_availability' %}">
        <span>
            <i class="bx bx-plus me-sm-1"></i>
            <span class="d-none d-sm-inline-block">Add Availability</span>
        </span>
    </a>
</div>
{% endif %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible mt-3 mb-4" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="row">
  {% if avail %}
    {% regroup avail|dictsort:"day" by day as day_list %}
    {% for day in day_list %}
  
    <div class="col-md-3 mb-3">

        <div class="card">
          
            <div class="card-body">
              <h5 class="card-title">{{ day.grouper }}</h5>
              {% for d in day.list %}
              <p class="card-text">{{ d.start_time }}: {{ d.end_time }} 
                {% if request.user == user %}
                <a href="{% url 'meeting_calendar:remove_availability' d.id %}">  <i class="fa fa-times" aria-hidden="true"></i></a>
                {% endif %}
              </p>
              {% endfor %}
            </div>
          </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md">
      <div class="alert alert-success alert-dismissible" role="alert">
        {% if request.user == user %}
          Please add you availability.
        {% else %}
          The user {{user.first_name|title}} {{user.last_name|title}} does not have any available slots for meetings at the moment.
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
    </div>
    {% endif %}
</div>



{% endblock %}