{% extends 'main_shared.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
{% include 'snippets/title_text.html' %} Availability
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style1">
      <li class="breadcrumb-item">
          <a href="{% url 'accounts:redirect_logged' %}">Home</a>
      </li>
      <li class="breadcrumb-item">
          <a href="{% url 'meeting_calendar:availability' %}">Availability</a>
      </li>

      <li class="breadcrumb-item active">  {% include 'snippets/title_text.html' %} Availability {% if type == 'edit' %} {{obj.title|title}} {% endif %}</li>
  </ol>
</nav>


{% if form.errors %}
<div class="alert alert-danger" role="alert">
  {% for field, error_list in form.errors.items %}
  {{ error_list.as_text }}
  {% endfor %}
</div>
{% endif %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-{{ message.tags }} alert-dismissible mt-3 mb-4" role="alert">
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
  </button>
  {{ message }}
</div>
{% endfor %}
{% endif %}


<div class="card mb-4">
  {% if type == 'create' %}
  <form class="card-body" action="{% url 'meeting_calendar:create_availability' %}" method="POST">
    {% else %}
    <form class="card-body" action="#" method="POST">
      {% endif %}

      {% csrf_token %}
      <div class="row g-3">
        <div class="col-md-4">
          {{form.day|as_crispy_field}}

        </div>
        <div class="col-md-4">
          {{form.start_time|as_crispy_field}}
        </div>
        <div class="col-md-4">
          {{form.end_time|as_crispy_field}}

        </div>
      </div>
      <div class="pt-4">
        <a href="{% url 'meeting_calendar:availability' %}" class="btn btn-warning me-sm-3 me-1">
          Cancel
      </a>
        <button type="submit" class="btn btn-primary me-sm-3 me-1">
          {% include 'snippets/title_text.html' %} Availability
        </button>      
      </div>
    </form>
</div>

{% endblock %}