{% extends 'main_shared.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
 {% include 'snippets/title_text.html' %} Station Sub Category
{% endblock %}
{% block content %}
<h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home / stations /</span>
    {% include 'snippets/title_text.html' %} Station Sub Category
   </h5>
<div class="card mb-4">
   {% if type == 'create' %}
   <form class="card-body"  action="{% url 'stations:create_category_sub_station' %}" method="POST">
      {% else %}
   <form class="card-body"  action="{% url 'stations:edit_sub_category_station' station_sub_category.id  %}" method="POST">
   {% endif %}

      {% csrf_token %} 
     <div class="row g-3">
        <div class="col-md-6">
            {{form.station_category|as_crispy_field}}
          </div>
       <div class="col-md-6">
         {{form.title|as_crispy_field}}
       </div>
     </div>
     <div class="pt-4">
       <button type="submit" class="btn btn-primary me-sm-3 me-1">
        {% include 'snippets/title_text.html' %} Station Sub Category
       </button>
       <a href="{% url 'stations:station_sub_categories' %}" class="btn btn-label-secondary">Cancel</a>
     </div>
   </form>
 </div>

{% endblock %}
